.game-card-container {
    background-color: #dfe6e9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 20px;
    width: 85vw;
    height: 60px;
}

.game-card-options-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    min-width: 12.5%;
}

.game-card-color-container {
    display: inline-block;
}

.game-card-color-square-container {
    display: flex;
    border: 1px solid black;
    cursor: pointer;
    align-items: center;
    user-select: none;
}

.game-card-color-picker {
    position: absolute;
    z-index: 2;
}

.game-card-color-picker-closer {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.game-card-color-square {
    height: 35px;
    width: 35px;
    background-color: red;
}

.game-card-option-btn {
    background-color: #FF6688;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
}

.red-bg {
    background-color: #FF6688;
}

.green-bg {
    background-color: #2ECC71;
}
