.patch-card-container {
    background-color: #dfe6e9;
    border: 2px solid #b2bec3;
}

.patch-card-container > * {
    padding: 15px 10px;
}

.patch-card-header-container {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.patch-card-description-container {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.patch-card-description-container > a {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}